*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background-color: blue;
    text-align: center;
    color: white;
    padding: 10px;
}
.navs{
    display: flex;
    padding: 20px;
    background-color: wheat;
}
ul{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
li{
    list-style-type: none;
    justify-content: space-between;
    padding:  20px;
    cursor: pointer;
    
}
.img{
    height: 60px;
}
.img1{
    height: 100%;
    width: 100%;
}
.first-heading{
    text-align: center;
    color: rgb(28, 163, 208);
}
.img2{
    height: 400px;
    /* width: 700px; */
    margin-top: 40px;
    padding-left: 60px;
}
.second {
    display: flex;
    /* height: 50vh; */
    gap: 20px;
    align-items: center;
}
.paragraph-section{
    color: rgb(23, 168, 216);
    font-size: 1.5rem;
}
.third{
    display: flex;
    background-color:#329BD5;
    height: 80vh;
    width: 100vw;
    align-items: center;
}
.anima-section{
    height: 70vh;
    width: 70vw;
    /* padding-left: 10px; */
    /* padding-top: 80px; */
    /* bottom-top: 40px; */
}
.animation-sec2{
    height: 400px;
    display: flex;
}


